# Port applications accepts requests on
PORT=5000

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables
DATABASE_URL="postgresql://user:password@url:port/database?schema=public"

# Secret used to sign and verify tokens
JWT_SECRET=