# Port applications accepts requests on
PORT=5000

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables
DATABASE_URL="postgresql://user:password@url:port/database?schema=public"

# Settings used for JSON web tokens
JWT_SECRET=
JWT_EXPIRATON= # intentionally blank so in dev it never expires

GOOGLE_OAUTH_CLIENT_ID="513098205800-j6pp1actb46n8ae9iaahutmiba08ubna.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET="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"
GOOGLE_OAUTH_CALLBACK="http://localhost:5000/auth/login/google/redirect"
